<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta name="description" content="@ViewBag.Description"/>
    <link rel="stylesheet" href="@Url.Content("~/static/edit.css")" type="text/css"/>
    <script src="@Url.Content("~/static/js/lib/jquery-1.7.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/static/js/edit-core.js")" type="text/javascript"></script>
</head>

    <body id="sit-edit">
        <div id="tab_navigation" class="bg_gr">
            <ul>
                <li>
                    @Html.ActionLink("Start", "Main", "Edit")
                </li>
                <li>
                     @Html.ActionLink("Inhoudsverkenner", "Browser", "Edit")
                </li>
            </ul>
        </div>
        @RenderBody()
    </body>
</html>
